{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}


{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% else %}
  {% comment %} <img
    src="https://t4.ftcdn.net/jpg/01/80/26/03/360_F_180260315_gREfK8CvdnJN7mrUcopHsYvOdJs5qh0N.jpg" 
    alt="background image"
    style="height:100%;width:100%;"
  > {% endcomment %}
{% endif %}

{% endblock %}