body{
  background-color: #f0ffff;
}
main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

header{
  background-color:#F4EBE8;
  border-end-start-radius: 10%;
  border-end-end-radius: 10%;
  box-shadow: rgb(167, 144, 114) 10px 5px 5px;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
}


h1{
  font-size:x-large;
  font-weight: 500;
  padding: 1rem;
  border-radius: 30%;
  margin-bottom: 1rem;
  background-color: #fdf5e6;
  box-shadow: rgb(167, 144, 114) 10px 5px 5px;
}

.logo{
  font-size: xx-large;
  padding-left: 2rem;
}

nav>ul{
  display: flex;
}

@media screen and (max-width:849px) {
  nav>ul{
    flex-direction: column;
  }
}

@media screen and (min-width:850px) {
  nav>ul{
    position:absolute;
    right: 0;
  }
}

main > ul{
  background-color: #fff0f5;
  border-radius: 10%;
  padding: 1.5rem;
  box-shadow: rgb(167, 144, 114) 10px 5px 5px;
}

main > ul > li{
  box-shadow: rgb(167, 144, 114) 5px 3px 3px;
  background-color: #faf0e6;
  border-radius: 20%;
  padding: 1rem;
}

main > ul > li:hover{
  box-shadow: rgb(167, 144, 114) 10px 6px 6px;
}

nav > ul > li{
  font-weight: 500;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 30%;
  box-shadow: rgb(112, 105, 105) 5px 3px 3px;
}

.search-box{
  box-shadow: none;
}

.search-box:hover{
  box-shadow: none;
}

section{
  /* border: black solid 1px; */
  box-shadow: rgb(112, 105, 105) 5px 3px 3px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 2rem;
  border-radius: 10%;
  margin: 2rem;
}

section > a {
  color: blue;
}

.review {
  box-shadow: rgb(47, 47, 51) 5px 3px 3px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 30%;
}

.review > h3 {
  font-size:xx-large;
}

input, textarea{
  border: solid black 1px;
  padding: 0.5rem;
}

small{
  color: gray;
}

.form{
  margin: 2rem;
}

h2{
  font-weight: 700;
  font-size: xx-large;
}

.cancel-btn{
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:0.5rem;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.cancel-btn:hover{
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

hr{
  width: 5px;
}

form > button{
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:0.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
form > button:hover{
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

nav > ul > li:hover{
  box-shadow: rgb(27, 26, 26) 5px 3px 3px;
}

main > ul> li{
  margin: 2rem;
}

main > a{
  text-decoration: underline;
  color: blue;
}

.delete{
  box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.delete:hover{
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}